<form class="d-flex" action="/filter" method="POST" enctype="multipart/form-data">
  <div class="border p-2 mt-1 rounded bg-light " style="border-radius: 1rem;">
    <div class="d-flex border p-1 rounded mt-1">
      <i class="fa-solid fa-magnifying-glass m-2 " style="font-size: 1.6rem;"></i>
      <input class="form-control me-2" name="search" id="search" style="border: none; background-color: lavender;" type="search" placeholder="Search" aria-label="Search">
    </div>
    <div class="d-flex my-2">
      <!-- <i class="fa-solid fa-magnifying-glass m-2 " style="font-size: 1.6rem;"></i> -->
      <p class="m-2">City</p>
      <select class="form-select " name="city" id="city" >
        <option selected value="">Any</option>
        <% data.filter((value, index, self) => {
            return self.findIndex((t) => t.city === value.city) === index;
         }).forEach((element) => { %>
        <option  value="<%= element.city %>"><%= element.city%></option>
        <% }); %>
      </select>


      </select>

    </div>
    <div class="d-flex my-2">
      <p class="m-2">Area</p>
      <select class="form-select " name="area" id="area">
        <option selected value="">Any</option>

        <% data.filter((value, index, self) => {
            return self.findIndex((t) => t.area === value.area) === index;
         }).forEach((element) => { %>
        <option value="<%= element.area %>"><%= element.area %></option>
        <% }); %>

      </select>


      </select>

    </div>
    <div class="d-flex my-2">
      <p class="m-2">Service</p>
      <select class="form-select " name="service" id="service">

        <option selected value="">Any</option>

        <% data.filter((value, index, self) => {
                  return self.findIndex((t) => t.service === value.service) === index;
               }).forEach((element) => { %>
        <option value="<%= element.service %>"><%= element.service %></option>
        <% }); %>
      </select>





    </div>
    <div class="d-flex my-2">
      <input type="checkbox" name="highest"  class="btn-check" id="btn-check" value="true" autocomplete="off">
      <label class="btn btn-outline-dark " for="btn-check" style="border-radius: 2rem;">High Rated</label>



    </div>

    <button class="btn btn-primary" style="border-radius: 2rem;" type="submit">Search</button>
    <a class="btn btn-outline-primary" style="border-radius: 2rem;"href="/"  >Clear</a>

  </div>

</form>
