

<% if (userfav.some(element => element === data.contact)) { %>
    <form id="remove-form<%= index %>" class="">
      <button type="submit" style="border: none; background: none;" class="">
        <i class="fa-solid fa fa-heart" id="fa" style="font-size: 1.3rem; background-color: aliceblue; color: crimson;"></i>
      </button>
      <input type="text" class="hide" name="phone" value="<%= data.contact %>" >
    </form>
  
    <form id="fav-form<%= index %>" class="hide">
      <button type="submit" style="border: none; background: none;" class="">
        <i class="fa-solid fa fa-heart" id="fa" style="font-size: 1.3rem;"></i>
      </button>
      <input type="text" class="hide" name="phone" value="<%= data.contact %>" >
    </form>
  
  <% } else { %>
  
    <form id="remove-form<%= index %>" class="hide">
      <button type="submit" style="border: none; background: none;" class="">
        <i class="fa-solid fa fa-heart" id="fa" style="font-size: 1.3rem; background-color: aliceblue; color: crimson;"></i>
      </button>
      <input type="text" class="hide" name="phone" value="<%= data.contact %>" >
    </form>
  
    <form id="fav-form<%= index %>" class="">
      <button type="submit" style="border: none; background: none;" class="">
        <i class="fa-solid fa fa-heart" id="fa" style="font-size: 1.3rem;"></i>
      </button>
      <input type="text" class="hide" name="phone" value="<%= data.contact %>" >
    </form>
  
  <% } %>
  
  

  <script>
    document.addEventListener('DOMContentLoaded', function() {
        // Get the index from the template
        var index = <%= index %>;
      
        // Find the corresponding form
        var form = document.getElementById(`fav-form${index}`);
      
        form.addEventListener('submit', async function(event) {
          event.preventDefault(); // Prevent the default form submission behavior
      
          var formData = new FormData(form); // Create a FormData object to store form data
          const phone = formData.get('phone');
      
          try {
            // Send POST request to add favorite
            const response = await fetch('/addfav', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
              },
              body: new URLSearchParams({ phoneNumber: phone }).toString(),
            });
      
            if (response.ok) {
              console.log('Added to favorites');
      
              // Toggle form visibility
              form.classList.add('hide');
              document.getElementById(`remove-form${index}`).classList.remove('hide');
            } else {
              console.error('Failed to add to favorites');
            }
          } catch (error) {
            console.error('Request failed:', error);
          }
        });


        var removeform = document.getElementById(`remove-form${index}`);
      
        removeform.addEventListener('submit', async function(event) {
          event.preventDefault(); // Prevent the default form submission behavior
      
          var formData = new FormData(form); // Create a FormData object to store form data
          const phone = formData.get('phone');
      
          try {
            // Send POST request to add favorite
            const response = await fetch('/removefav', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
              },
              body: new URLSearchParams({ phoneNumber: phone }).toString(),
            });
      
            if (response.ok) {
              console.log('Added to favorites');
      
              // Toggle form visibility
              removeform.classList.add('hide');
              document.getElementById(`fav-form${index}`).classList.remove('hide');
            } else {
              console.error('Failed to remove to favorites');
            }
          } catch (error) {
            console.error('Request failed:', error);
          }
        });
      });
      
  </script>


 