<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/header.ejs') %>
</head>

<body>
  <style>
    .image-container img {
      opacity: 0.8;
    }

    .image-container:hover img {
      opacity: 1;
      cursor: pointer;
      /* change opacity to 1 on hover */
    }
  </style>


  <%- include('../partials/nav.ejs') %>

  <div class="container">

    <form class="border p-2 rounded bg-light shadow-sm " style="margin-bottom: 6rem; margin-top: 1rem;" action="/createprofile" method="POST" enctype="multipart/form-data">
      <div class="text-center my-2">
        <h4>Create Profile</h4>

      </div>


      <div class="row justify-content-center">
        <div class="col-md-3 ">
          <!-- <a href="" onclick="getfile()">
                <i class="fa-solid fa-user"></i>
            </a> -->

          <!-- <i class="fa-solid fa-user" onclick="getfile()"></i> -->
          <input type="file" class=""   accept="image/png, image/jpg" name="image" id="image">
          <!-- <img id="previewImage" src="#" alt="Preview Image"  > -->
          <div class=" justify-content-center d-flex p-3 image-container ">
            <input type="hidden"  name="image" value="/uploads/profiles/<%= userdata["image"] %>">

            <img  style="
            height: auto;
            aspect-ratio: 1 / 1;
            border-radius: 50%;
            object-fit: cover;" 
            class="rounded-circle"  src="/uploads/profiles/<%= userdata["image"] %>"   alt="" id="previewImage" srcset="" width="200rem" onclick="getfile()">
          
          </div>
        </div>
      </div>
    
      <div class="mb-3 ">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" value="<%= userdata["name"] %>" placeholder="rajesh">
      </div>
      <div class="mb-3 ">
        <label for="shopname" class="form-label">Shop Name [optional]</label>
        <input type="text" class="form-control" id="shopname" name="shopname" value="" placeholder="rajesh paint shop">
      </div>
      <div class="mb-3 ">
        <label for="nameinput" class="form-label">Service</label>
        <select name="service" class="form-select" id="service">
       
          <option value="PLUMBER">Plumber</option>
          <option value="CLEANER">Cleaner</option>
          <option value="LAUNDARY">Laundary</option>

        </select>
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">Phone</label>
        <input type="tel" class="form-control" id="contact" value="" name="contact" placeholder="+9199999999">
      </div>
      <div class="mb-3 ">
        <label for="address" class="form-label">Pincode</label>
        <input type="number" onchange="getdata()" class="form-control pincode" id="pincode"  value="" name="pincode" placeholder="">
      </div>
      <div class="mb-3 ">
        <label for="address" class="form-label">City</label>
        <input type="text" class="form-control city" id="city"  value="" name="city" placeholder="">
      </div>
      <div class="mb-3 ">
        <label for="address" class="form-label">Area</label>
        <input type="text" class="form-control area" id="area"  value="" name="area" placeholder="">
      </div>
      <div class="mb-3 ">
        <label for="address" class="form-label">Address</label>
        <input type="text" class="form-control" id="address"  value="" name="address" placeholder="">
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" name="description"  rows="3"></textarea>
      </div>

      <div class="mb-3" id="skill">
        
          <div class="border p-2 my-2 rounded bg-light">
            
          <label for="description" class="form-label ">Skill</label>
          <label for="description" class="form-label ">Skill</label>
          <select name="skill" class="form-select" id="service" required>
            <option selected>Sink change</option>
            <option value="nobe change">nobe change</option>
            <option value="pipe change">pipe change</option>
            <option value="cleaning">cleaning </option>
  
          </select>     

          <label for="description" class="form-label ">Price</label>
          <input type="number" class="form-control mb-1" id="Price"  value="" name="price" placeholder="">
          </div>
     

      </div>
        <button class=" btn btn-primary mb-2" style="border-radius: 2rem;" type="button" onclick="addskill()" >Add Skill</button>


      
      <div class="mb-3 mt-2">
        <button class=" btn btn-outline-primary " style="border-radius: 2rem;" type="submit">Save Profile</button>
      </div>
  </div>
  </form>


  <div class="chin hide">

  
    <%- include('../partials/chin.ejs') %>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/compressorjs/1.2.1/compressor.min.js" integrity="sha512-MgYeYFj8R3S6rvZHiJ1xA9cM/VDGcT4eRRFQwGA7qDP7NHbnWKNmAm28z0LVjOuUqjD0T9JxpDMdVqsZOSHaSA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  
  
  
  <script>
    //pincode





      document.querySelector('.pincode').addEventListener('input', function() {
        value = document.querySelector('.pincode').value

  
      $.getJSON("https://api.postalpincode.in/pincode/" + value, function (data) {

       

       
        console.log(data[0]["PostOffice"][0]['Name'])

        console.log(data[0]["PostOffice"][0]['Block'])

        document.querySelector('.city').value = data[0]["PostOffice"][0]['Region']
        document.querySelector('.area').value = data[0]["PostOffice"][0]['Name']

      
      })
      })
  

  </script>
  
  <script>
     

      function addskill() {


        var l = document.createElement("LABEL");
        l.innerHTML = "Skill"
        l.classList.add('form-label');
        
        var x = document.createElement("SELECT");
        x.setAttribute("type", "text" );
        x.setAttribute("name", "skill" );
        x.classList.add('form-control');
        x.classList.add('mb-1');
    
        
        x.innerHTML = `<option selected>select</option>
            <option value="nobe change">nobe change</option>
            <option value="pipe change">pipe change</option>
            <option value="cleaning">cleaning </option>`
    


        var l2 = document.createElement("LABEL");
        l2.innerHTML = "Price"
        l2.classList.add('form-label');

        var x2 = document.createElement("INPUT");
        x2.setAttribute("type", "number" );
        x2.setAttribute("name", "price" );
        x2.classList.add('form-control');
        x2.classList.add('mb-1');

       

        const element = document.getElementById("skill");


        element.appendChild(l);
        element.appendChild(x);
        element.appendChild(l2);
        element.appendChild(x2);
      }


      // Check the viewport size
      var mq = window.matchMedia('(max-width: 600px)');
  
      // Function to handle changes to the viewport size
      function handleViewportChange(mq) {
        if (mq.matches) {
          // If viewport is less than 600px wide, add the new-class

          // document.querySelector('.chin').classList.remove('hide');
  
  
          document.querySelector('.navbar').classList.add('hide');

        } else {
          // If viewport is greater than 600px wide, remove the new-class

          document.querySelector('.navbar').classList.remove('hide');


        }
      }
  
      // Call the function on load and when the viewport size changes
      handleViewportChange(mq);
      mq.addListener(handleViewportChange);

    const fileInput = document.getElementById("image");
    const previewImage = document.getElementById("previewImage");

    fileInput.addEventListener("change", async () => {
    const file = fileInput.files[0];


    new Compressor(file, {
    quality: 0.5, // set the compression quality to 70%
    success(result) {
    const reader = new FileReader();

    reader.addEventListener("load", () => {
    previewImage.setAttribute("src", reader.result);
    });

    if (file) {
    reader.readAsDataURL(file);
    }
    },
    error(err) {
    console.log(err.message);
    },
    });


    console.log(file);


    });




    function getfile() {
    fileInput.click()
    }
  </script>
</body>

</html>