<% data.forEach(element => { %>

  <div class="col-md-6 m-1 border  service bg-light " style="max-width: 26rem; border-radius: 1rem; ">


      <div class="row " style="align-items: center;">
  
        <div class="col-3 p-1 text-center position-relative  " style="  margin: 0.1rem; ">
  
          <div class="rounded-circle d-flex image-box" id="image-box" style="object-fit: cover;">
            <img src="/uploads/profiles/<%= element["image"] %>" onchange="" alt="" srcset="" class="border lazy shadow-sm" style="width: 100%; height: auto; aspect-ratio: 1 / 1; border-radius: 50%; object-fit: cover; ">
            <a href="/home/services/<%= element["name"] %>" class="stretched-link"></a>

          </div>
  
        </div>
        <div class="col-7 my-1 p-1 position-relative " style="">
          <div class="position-relative">
            <a href="/home/services/<%= element["name"] %>" class="stretched-link"></a>
  
            <p class="fw-bold m-0 mx-1" style="font-size: 1.2rem;"><%= element["name"] %> </p>
            <p class="m-0 mx-1" style="font-size: 0.7rem;"> <%= element["service"] %></p>
  
            <p style="font-size: 0.7rem; " class="text-muted mb-1 mx-1"> <%= element["address"] %> , <%= element["area"] %> , <%= element["city"] %> </p>

          </div>
          <div class="d-flex  " style="align-items: center;">
            <div class="d-flex justify-content-start col-6 " style="align-items: center;">
              <p style="font-size: 0.8rem;" class="fw-bold m-0 mx-1"><i class="fa-solid fa-star " style="font-size: 1rem; color: gold;"></i> <%= element["rating"] %></p>

            </div>

            <div class=" d-flex justify-content-end col-6">
              <a class=" btn btn-success  me-2" style="border-radius: 2rem; font-size:0.6rem; padding:0.5rem 0.5rem " href="/home/services/<%= element["name"] %>"> <i class="fa-brands fa-whatsapp" ></i> Get Contact </a>
              <% var name = element["name"]; %>
  
            </div>

            <!-- <button class="btn-sm btn btn-primary mt-1" style="border-radius: 2rem;" onclick="Share('<%= name %>')" type="submit"><i class="fa-sharp fa-solid fa-share-nodes"></i> Share </button> -->
  
          </div>
  
        </div>
  

      </div>
  
  
  
  
  </div>
  



<% }) %>
