<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>

<body>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



  <style>


    .hide {
      display: none;
    }
  </style>


<%- include('./partials/nav.ejs') %>

  <div class="container">
    <div class="phone hide">


      
          <form class="d-flex" role="search">
            <div class="d-flex border p-1 rounded">
              <i class="fa-solid fa-magnifying-glass m-2 " style="font-size: 1.6rem;"></i>
              <input class="form-control me-2" style="border: none; background-color: lavender;" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-primary" style="border-radius: 2rem;" type="submit">Search</button>
            </div>

          </form>

        
      <button class="btn btn-outline-secondary" style="border-radius: 2rem; background-color: black; color: aliceblue;" type="submit">Plumber</button>

      <button class="btn btn-outline-secondary" style="border-radius: 2rem; background-color: black; color: aliceblue;" type="submit">Plumber</button>
      <button class="btn btn-outline-secondary" style="border-radius: 2rem; background-color: black; color: aliceblue;" type="submit">Laundary</button>
      <button class="btn btn-outline-secondary" style="border-radius: 2rem; background-color: black; color: aliceblue;" type="submit">Clothing</button>
    </div>
    <div class="row my-3">
      <div class="col-lg-8 col-md-7 list ">
        <div class="row justify-content-center d-flex ">

          <% data.forEach(element => { %>
           
  <div class="col-md-6 m-1 border rounded shadow " style="max-width: 26rem;">


    <div class="d-flex">
      <div class="row ">

        <div class="col-5 " style="border-right: 1px rgb(214, 214, 214) solid;  "  >
          <div class=" my-2  d-flex" style="object-fit: scale-down;">
            <img src="/uploads/profiles/<%= element["image"] %>" alt="" srcset="" class="" style="max-width: 10rem; width: 100%;  ">
          </div>
        </div>
        <div class="col-7 my-1 p-1">
            <p class="fw-bold m-0 mx-1" style="font-size: 1.4rem;"  ><%= element["name"] %>  </p>
            <!-- <div class="my-1" style="padding: 0.1rem; margin: 0rem 6rem 0.2rem 0rem; border-radius: 1rem; border-width: 1px; border-color: cornflowerblue; border-style: solid; "> -->
              <p class="m-0 mx-1" style="font-size: 0.9rem;"> <%= element["service"] %></p>
            <!-- </div> -->
            
            <p style="font-size: 0.9rem; " class="text-muted mb-1 mx-1"> <%= element["address"] %></p>
            <p style="font-size: 0.8rem;" class="fw-bold m-0 mx-1" ><i class="fa-solid fa-star " style="font-size: 1rem; color: gold;"></i> 5.0</p>
            <div class="d-flex justify-content-end">
               
              <button class="btn-sm btn btn-success mt-3 me-2" style="border-radius: 2rem;" type="submit"> <i class="fa-brands fa-whatsapp" style="font-size: 1rem;"></i>  Get Contact </button>
              <button class="btn-sm btn btn-primary mt-3" style="border-radius: 2rem;" type="submit"><i class="fa-sharp fa-solid fa-share-nodes"></i> Share </button>
            
            </div>

        </div>

      </div>



    </div>
  </div>
             
          <% }) %>
         
  

        </div>


      </div>
      <div class="col-lg-4 col-md-5 sidebar  " style=" position: fixed;
      top: 5rem;
      right: 2.5rem;">


        <form class="d-flex" role="search">
          <div class="d-flex border p-1 rounded">
            <i class="fa-solid fa-magnifying-glass m-2 " style="font-size: 1.6rem;"></i>
            <input class="form-control me-2" style="border: none; background-color: lavender;" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary" style="border-radius: 2rem;" type="submit">Search</button>
          </div>

        </form>



        <div class="my-2">
        <button class="btn btn-outline-secondary" style="border-radius: 2rem; background-color: black; color: aliceblue;" type="submit">Cleaner</button>

        <button class="btn btn-outline-secondary" style="border-radius: 2rem; background-color: black; color: aliceblue;" type="submit">Plumber</button>
        <button class="btn btn-outline-secondary" style="border-radius: 2rem; background-color: black; color: aliceblue;" type="submit">Laundary</button>
        <button class="btn btn-outline-secondary" style="border-radius: 2rem; background-color: black; color: aliceblue;" type="submit">Clothing</button>
      </div>

      </div>


    </div>

 

  </div>

  <div class="chin hide">

  
  <%- include('./partials/chin.ejs') %>
</div>
  <script>
    // Check the viewport size
    var mq = window.matchMedia('(max-width: 600px)');

    // Function to handle changes to the viewport size
    function handleViewportChange(mq) {
      if (mq.matches) {
        // If viewport is less than 600px wide, add the new-class
        document.querySelector('.sidebar').classList.add('hide');
        document.querySelector('.sidebar').classList.remove('col-lg-4');
        document.querySelector('.sidebar').classList.remove('col-md-5');
        document.querySelector('.list').classList.add('col');
        document.querySelector('.list').classList.remove('col-lg-8');
        document.querySelector('.list').classList.remove('col-md-7');
        document.querySelector('.phone').classList.remove('hide');
        document.querySelector('.chin').classList.remove('hide');


      } else {
        // If viewport is greater than 600px wide, remove the new-class
        document.querySelector('.sidebar').classList.remove('hide');
        document.querySelector('.sidebar').classList.add('col-lg-4');
        document.querySelector('.sidebar').classList.add('col-md-5');
        document.querySelector('.list').classList.remove('col');
        document.querySelector('.list').classList.add('col-lg-8');
        document.querySelector('.list').classList.add('col-md-7');

        document.querySelector('.phone').classList.add('hide');
        document.querySelector('.chin').classList.add('hide');

      }
    }

    // Call the function on load and when the viewport size changes
    handleViewportChange(mq);
    mq.addListener(handleViewportChange);
  </script>

</body>

</html>